<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testamento</title>
    <link rel="stylesheet" href="../../static/css/3rd/bootstrap.min.css" media="screen" th:href="@{/css/3rd/bootstrap.min.css}">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>BÍBLIA ALMEIDA CORRIGIDA FIEL</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form th:action="@{/versiculos}" method="POST" class="form-group">
                <div class="row">
                    <div class="col-9">
                        <input type="text" placeholder="Buscar na Bíblia" name="query" class="form-control">
                    </div>
                    <div class="col-3">
                        <button type="submit" class="btn btn-primary">BUSCAR</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-center">
            <a th:href="@{/livro/1}" class="btn btn-link">Velho Testamento</a>
            <a th:href="@{/livro/2}" class="btn btn-link">Novo Testamento</a>
        </div>
    </div>
</div>
<script src="../../static/js/3rd/bootstrap.min.js" th:src="@{/js/3rd/bootstrap.min.js}"></script>
</body>
</html>
