<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Seleção de Capítulo</title>
    <link rel="stylesheet" href="../static/css/3rd/bootstrap.min.css" media="screen" th:href="@{/css/3rd/bootstrap.min.css}">
</head>
<body>
<div th:replace="~{ layout/navbar :: navbar}"></div>
<div class="container">
    <div class="row">
        <div th:each="cap : ${#numbers.sequence(1, livro.livCapitulo)}" class="col-sm-2 col-md-2 col-lg-1 m-2">
            <a th:href="@{/versiculo/{id1}/{id2}(id1=${livro.id}, id2=${cap})}" style="text-decoration: none; font-size: 18px;" class="m-2" th:value="${cap}" th:text="${cap}"></a>
        </div>
    </div>
</div>
<script src="../../static/js/3rd/bootstrap.min.js" th:src="@{/js/3rd/bootstrap.min.js}"></script>
</body>
</html>
